// register
.register {
  padding-bottom: 130px;
  background-color: #fff;
  @media (max-width: 991px){
    padding-bottom: 50px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__img {
    @media (max-width: 991px){
      margin-top: 20px;
    }
    img {
      margin-left: auto;
      @media (max-width: 991px){
        margin-left: unset;
      }
    }
  }
  .contacts__form-row:not(:last-child) {
    @media (max-width: 991px){
      margin-bottom: 6px;
    }
  }
  .contacts__form-agreements {
    @media (max-width: 991px){
      margin-left: 15px;
    }
  }
  .contacts__form-agreements input {
    @media (max-width: 991px){
      width: 16px;
      height: 16px;
    }
  }
  .contacts__form {
    @media (max-width: 991px){
      margin-top: 20px;
    }
  }
  .contacts__form-row.password {
    margin-top: 28px;
    position: relative;
    @media (max-width: 991px){
      margin-top: 16px;
    }
  }
  .input-person {
    padding-left: 50px;
    background: #F6F3F2 url('@img/register/person.svg') no-repeat left 20px center;
  }
  .input-mail {
    padding-left: 50px;
    background: #F6F3F2 url('@img/register/mail.svg') no-repeat left 20px center;
  }
  .input-tel {
    padding-left: 50px;
    background: #F6F3F2 url('@img/register/tel.svg') no-repeat left 20px center;
  }
  .input-pass {
    padding-left: 50px;
    background: #F6F3F2 url('@img/register/pass.svg') no-repeat left 20px center;
		padding-right: 50px;
  }
  .register__form-bottom {
    margin-top: 10px;
  }
  .contacts__form-agreements {
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;   
    margin-bottom: 10px; 
    align-items: center;
  }
  .contacts__form-agreements label {
    cursor: pointer;
  }
  .contacts__form-agreements a {
    color: $orange-color;
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;    
    display: inline-block;
		transition: color .2s linear;
			&:hover {
				color: #000;
			}
  }
  .contacts__form-agreements input {   
    top: 0;
  }
  .register-btn-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
    @media (max-width: 575px){
      flex-direction: column;
    }
  }
  .register-btn-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #4F4F4F;    
    margin-left: 20px;
	
	
    @media (max-width: 991px){
      font-size: 10px;
      line-height: 16px      
    }
    @media (max-width: 575px){
      margin-top: 15px;
    }
    a {
      display: inline-block;
      font-weight: 600;
			transition: color .2s linear;
      color: $orange-color;
			&:hover {
				color: #000;
			}
      @media (max-width: 991px){
        font-weight: 400;
      }
    }
  }
  .show-pass {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 20px;
    background: url('@img/icons/eye.svg') no-repeat center center / contain;
    transform: translateY(-50%);
    cursor: pointer;
  }
}